<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/add.css">
</head>
<body>
    <h1>Add Content</h1>

    <form id="contentForm">
        <label for="heading">Heading:</label>
        <input type="text" id="heading" required><br>
        <label for="content">Content:</label>
        <textarea id="content" required></textarea><br>
        <button type="submit">Add Content</button>
    </form>

    <div id="contentContainer"></div>
</body>
</html>