<!DOCTYPE html>
<html>

<head>
  <title>Crime Alert</title>
  <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
  <div class="nav">
    <div class="left">
      <a href="/map" id="logo"><img src="https://cdn0.iconfinder.com/data/icons/map-and-navigation-2-1/48/88-512.png" alt="" class="logo txt"></a>
      <ul>
        <li class="txt"><a href="/map">Map & Threat Analysis Chart</a></li>
        <li class="txt"><a href="/community">Community</a></li>
        <li class="txt"><a href="/hotel">Hotels</a></li>
        <li class="txt"><a href="#">About Us</a></li>
      </ul>
    </div>
    <div class="right">
      <p class="login txt"><a href="/login">Log In</a></p>
      <button class="btn txt"><a href="/signup">Try for free</a></button>
    </div>
  </div>
  <div class="container1">
    <div class="left-container">
      <div class="title">
        <p class="para1">Welcome to CrimeAlert: Your Predictive Policing Partner Proactive Crime Prevention with Advanced Analytics.</p>
      </div>
      <button class="btn btn2"><a href="/signup">Get started</button></a>
    </div>
    <div class="right-container">
      <img src="../images/drone-surveillance-concept-illustration/Drone surveillance-amico.svg" alt="img" class="img">
    </div>
  </div>
  <div class="container2">
    <h1 class="heading">Why Crime Alert?</h1>
    <div class="cards reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/10606378_9851.svg" alt="" class="img2">
      </div>
      <div class="content">
        <h5>Why Crime Alert?</h5>
        <h1>Advance Prediction algorithms</h1>
        <p class="para2">Utilize advanced machine learning methods to analyze past crime data, identifying patterns and trends to forecast future criminal activity, enhancing law enforcement strategies for proactive intervention.</p>
      </div>
    </div>
    <div class="cards reverse-card reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/12281487_4901357.svg" alt="" class="img2">
      </div>
      <div class="content">
        <h5>Why Crime Alert?</h5>
        <h1>Real-Time Data Analysis</h1>
        <p class="para2">Utilize live data streams for real-time analysis, employing algorithms and historical data to predict future crimes, enabling proactive measures to prevent or mitigate criminal activity promptly.</p>
      </div>
    </div>
    <div class="cards reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/5453946_2811171.svg" alt="" class="img2">
      </div>
      <div class="content">
        <h5>Why Crime Alert?</h5>
        <h1>Community Engagement Tools</h1>
        <p class="para2">Encourage dialogue, respect, and shared responsibility between law enforcement and communities. Promote community involvement in policing decisions, trust-building initiatives, and joint problem-solving for safer neighborhoods.</p>
      </div>
    </div>
    <div class="cards reverse-card reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/12281487_4901357.svg" alt="" class="img2">
      </div>
      <div class="content">
        <h5>Why Crime Alert?</h5>
        <h1>Comprehensive Reporting</h1>
        <p class="para2">Detailed reports offer comprehensive insights vital for strategic decision-making. They provide in-depth analysis, trends, and recommendations, enabling informed choices to optimize outcomes and align with organizational objectives effectively.</p>
      </div>
    </div>
    <h1 class="heading heading2">Features</h1>
    <div class="cards reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/Data processing-amico.svg" alt=""
          class="img2 one-img">
      </div>
      <div class="content">
        <h5>Features</h5>
        <h1>Hotspot Mapping</h1>
        <p class="para2">Utilize our intuitive mapping interface to visualize high-crime areas based on features such as location, frequency, and severity. Identify patterns and trends effortlessly for informed decision-making and resource allocation.</p>
      </div>
    </div>
    <div class="cards reverse-card reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/Data extraction-rafiki.svg" alt="" class="img2">
      </div>
      <div class="content">
        <h5>Features</h5>
        <h1>Behavioral Analysis</h1>
        <p class="para2">Understanding criminal behavior involves studying motivations, triggers, and patterns to predict and prevent incidents. Insights into psychological, social, and environmental factors aid in developing proactive measures for crime prevention and intervention.</p>
      </div>
    </div>
    <div class="cards reveal">
      <div class="card-img">
        <img
          src="../images/drone-surveillance-concept-illustration/70828770_2303-i402-016-F-m004-c9-Business merger concept flat background.svg"
          alt="" class="img2">
      </div>
      <div class="content">
        <h5>Features</h5>
        <h1>Resource Allocation</h1>
        <p class="para2">Optimize patrol routes and allocate resources efficiently using predictive data analysis, enhancing security and response capabilities by strategically deploying personnel and assets in areas forecasted to require heightened surveillance or support.</p>
      </div>
    </div>
    <div class="cards reverse-card reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/20892062_Sandy_Tech-21_Single-07.svg" alt=""
          class="img2">
      </div>
      <div class="content">
        <h5>Features</h5>
        <h1>Alert System</h1>
        <p class="para2">Get immediate notifications on anticipated criminal activities, enabling swift intervention to prevent or address incidents effectively.</p>
      </div>
    </div>
    <!-- <div class="cards reveal">
      <div class="card-img">
        <img src="../images/drone-surveillance-concept-illustration/13416256_5243244.svg" alt="" class="img2">
      </div>
      <div class="content">
        <h5>Features</h5>
        <h1>Scaling and Deployment</h1>
        <p class="para2">Scale up the deployment of SafeCity to additional regions, cities, or countries,
          leveraging cloud computing resources, scalable infrastructure, and partnerships with law
          enforcement agencies and government agencies. Provide training, technical support, and ongoing
          maintenance to ensure the sustainability and success of the system.</p>
      </div>
    </div> -->
  </div>
  <div class="container3">
    <div class="template">
      <img src="../images/drone-surveillance-concept-illustration/input-data_13065449.png" alt="" class="icon">
      <h4>Data Ingestion</h4>
      <p class="para3">This module is responsible for collecting and preprocessing data from various sources,
        including historical crime data, socioeconomic indicators, and environmental factors.
      </p>
    </div>
    <div class="template">
      <img src="../images/drone-surveillance-concept-illustration/cyborg_1549950.png" alt="" class="icon">
      <h4>Demo and Presentation</h4>
      <p class="para3">This module prepares a demo of the SafeCity system to showcase its features and potential
        impact during the hackathon presentation.
      </p>
    </div>
    <div class="template">
      <img src="/images/drone-surveillance-concept-illustration/risk_12160987.png" alt="" class="icon">
      <h4>Risk Assessment</h4>
      <p class="para3">Develop risk assessment tools that evaluate individual and environmental risk factors to
        identify individuals at high risk of involvement in criminal activity or becoming victims of crime.
      </p>
    </div>
  </div>
  <div class="container4 reveal">
    <h1>Get started now.</h1>
    <p class="para4">Ensure secure travels with Crime Alert for enhanced safety during your trip.</p>
    <button class="btn btn3"><a href="/signup">Try for free</button></a>
  </div>
  <div class="container5">
    <div class="footer-left">
      <h2>Crime Alert</h2>
      <p class="para5">Crime Alert integrates analytics, engagement, and ethics for equitable, resilient
        communities.</p>
      <p class="para5">© 2024 Crime Alert, Inc. All rights reserved.</p>
    </div>
    <div class="footer-right">
      <div class="block">
        <h6>Features</h6>
        <p class="para6">Crime Prediction</p>
        <p class="para6">Real-Time Visualization</p>
        <p class="para6">Community Engagement</p>
        <p class="para6">Integration and Testing</p>
      </div>
      <div class="block">
        <h6>Benefits</h6>
        <p class="para6">Tourist Safety</p>
        <p class="para6">Community Engagement</p>
        <p class="para6">Increased Safety Awareness</p>
        <p class="para6">Timely Notifications</p>
        <p class="para6">Crime Deterrence</p>
      </div>
      <div class="block">
        <h6>Implementation</h6>
        <p class="para6">Scaling and Deployment</p>
        <p class="para6">Pilot Deployment and Evalution</p>
        <p class="para6">Real-Time Data Integration</p>
        <p class="para6">Community Outreach</p>
        <p class="para6">Data Collection and Preprocessing</p>
      </div>
    </div>
  </div>
  <img src="../images/drone-surveillance-concept-illustration/1.svg" alt="" class="one">
  <img src="../images/drone-surveillance-concept-illustration/1.svg" alt="" class="one-2">
  <img src="../images/drone-surveillance-concept-illustration/2.svg" alt="" class="two">
  <img src="../images/drone-surveillance-concept-illustration/2.svg" alt="" class="two-2">
  <img src="../images/drone-surveillance-concept-illustration/3.svg" alt="" class="three">
  <img src="../images/drone-surveillance-concept-illustration/3.svg" alt="" class="three-2">
  <img src="../images/drone-surveillance-concept-illustration/4.svg" alt="" class="four">
  <img src="../images/drone-surveillance-concept-illustration/4.svg" alt="" class="four-2">
  <!-- <img src="../images/drone-surveillance-concept-illustration/5.svg" alt="" class="five"> -->
  <img src="../images/drone-surveillance-concept-illustration/Rectangle 100.png" alt="" class="rect-1">
  <img src="../images/drone-surveillance-concept-illustration/Rectangle 101.png" alt="" class="rect-2">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
    integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"
    integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
    integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
    integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../javascripts/script.js"></script>
</body>

</html>