<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="../stylesheets/login.css">
</head>

<body>
	<div class="box">
		<form action="/login" method="post">
			<h2>Log in</h2>
			<div class="inputBox">
				<input name="username" type="text">
				<span>Userame</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input name="password" type="password">
				<span>Password</span>
				<i></i>
			</div>
			<div class="links">
				<a href="/">Home</a>
				<a href="/signup">Signup</a>
			</div>
			<input type="submit" value="Login">
		</form>
	</div>
</body>

</html>