<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Animated Login Form</title>
  <link rel="stylesheet" href="../stylesheets/signup.css">
</head>

<body>
  <div class="box">
    <form action="/register" method="post">
      <h2>Sign up</h2>
      <div class="inputBox">
        <input name="email" type="email">
        <span>Email</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input name="username" type="text">
        <span>Userame</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input name="password" type="password">
        <span>Password</span>
        <i></i>
      </div>
      <div class="links">
        <!-- <a href="#">Forgot Password ?</a> -->
        <a href="/login">Login</a>
        <a href="/">Home</a>
      </div>
      <input type="submit" value="Signup">
    </form>
  </div>
</body>

</html>